USE [master]
GO
/****** Object:  Database [AutoBid]    Script Date: 10/29/2015 7:10:49 PM ******/
CREATE DATABASE [AutoBid]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoBid', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AutoBid.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AutoBid_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AutoBid_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoBid].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoBid]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/29/2015 7:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[User_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsersAdditionalInfo]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsersAdditionalInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserKey] [nvarchar](128) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedFromIP] [nvarchar](50) NOT NULL,
	[IsRemoved] [bit] NULL,
	[SellerTypeID] [int] NULL,
 CONSTRAINT [PK_AspNetUsersAdditionalInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsersANDUserTypesMapping]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsersANDUserTypesMapping](
	[ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[UserTypeID] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsersANDUserTypesMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AuctionHouse]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionHouse](
	[AuctionHouseID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NULL,
	[AuctionHouseName] [nvarchar](50) NULL,
	[Logo] [nvarchar](max) NULL,
	[WebSite] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](50) NULL,
	[Longitude] [nvarchar](50) NULL,
	[Latitude] [nvarchar](50) NULL,
	[About] [nvarchar](max) NULL,
	[Buyer_Fees] [nvarchar](50) NULL,
	[TermsCondition] [nvarchar](max) NULL,
 CONSTRAINT [PK_AuctionHouse] PRIMARY KEY CLUSTERED 
(
	[AuctionHouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BodyTypes]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BodyTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[IsRemoved] [bit] NULL,
 CONSTRAINT [PK_BodyTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarBuyerInfo]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarBuyerInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[VehicleID] [int] NULL,
	[BuyDate] [date] NULL,
	[BuyingPrice] [decimal](18, 2) NULL,
	[IsBrought] [bit] NULL,
	[IsShortlisted] [bit] NULL,
	[IsOfferMade] [bit] NULL,
	[OfferMadePrice] [decimal](18, 2) NULL,
	[ActionID] [int] NULL,
 CONSTRAINT [PK_CarBuyerInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerDocuments]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerDocuments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[OriginalFilename] [nvarchar](max) NULL,
	[Filename] [nvarchar](max) NULL,
	[Foldername] [nvarchar](max) NULL,
	[MIMETypeID] [int] NULL,
	[Size] [int] NULL,
	[UploadedOn] [datetime] NULL,
	[UploadedFromIP] [nvarchar](50) NULL,
	[UploadedByUserID] [int] NULL,
	[TempID] [nvarchar](100) NULL,
	[SectionFromDocUploaded] [nvarchar](50) NULL,
 CONSTRAINT [PK_CarSellerDocuments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerInfo]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SellerTypeID] [int] NULL,
	[WayOfSelling] [int] NULL,
 CONSTRAINT [PK_CarSellerInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerMoreDetails]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerMoreDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NULL,
	[CarLocation] [nvarchar](50) NULL,
	[ContactEmailID] [nvarchar](max) NULL,
	[ContactNumberOnAdvert] [nvarchar](50) NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[SelectedPackageID] [int] NULL,
 CONSTRAINT [PK_CarSellerMoreDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerPackages]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerPackages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Package] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Package] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerTypes]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_CarSellerTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerVehicleFuelTypes]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerVehicleFuelTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NULL,
	[FuelTypeID] [int] NULL,
 CONSTRAINT [PK_CarSellerVehicleFuelTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerVehicleImages]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerVehicleImages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NULL,
	[ImageSizeID] [int] NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[OriginalFilename] [nvarchar](max) NULL,
	[Filename] [nvarchar](max) NULL,
	[Foldername] [nvarchar](max) NULL,
	[Size] [int] NULL,
	[UploadedOn] [datetime] NULL,
	[UploadedFromIP] [nvarchar](50) NULL,
	[UploadedByUserID] [int] NULL,
	[TempID] [nvarchar](100) NULL,
	[SectionFromImageUploaded] [nvarchar](50) NULL,
	[PositionID] [int] NULL,
 CONSTRAINT [PK_CarSellerVehicleImages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerVehicleInfo]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerVehicleInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CarSellerInfoID] [int] NOT NULL,
	[RegistrationNumber] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[MakeID] [int] NULL,
	[ModelID] [int] NULL,
	[BodyTypeID] [int] NULL,
	[Color] [nvarchar](50) NULL,
	[MOTExpiryDate] [datetime] NULL,
	[TransmissionTypeID] [int] NULL,
	[ExactMileage] [nvarchar](50) NULL,
	[InteriorColor] [nvarchar](50) NULL,
	[Trim] [nvarchar](50) NULL,
	[TAXExpiryDate] [datetime] NULL,
	[ServiceHistory] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[DateOfFirstRegistration] [datetime] NULL,
	[AddedDate] [datetime] NULL,
 CONSTRAINT [PK_SellerVehicleInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellingOn]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellingOn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Way] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_CarSellingOn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cities]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](250) NOT NULL,
	[CountryID] [int] NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyCategories]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](250) NOT NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_CompanyCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyTypes]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyType] [nvarchar](250) NOT NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_CompanyTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[FormalName] [varchar](max) NULL,
	[Type] [varchar](max) NULL,
	[SubType] [varchar](max) NULL,
	[Sovereignty] [varchar](max) NULL,
	[Capital] [varchar](max) NULL,
	[ISO_4217_Currency_Code] [varchar](max) NULL,
	[ISO_4217_Currency_Name] [varchar](max) NULL,
	[ITU_T_Telephone_Code] [varchar](max) NULL,
	[ISO_3166_1_2Letter_Code] [varchar](max) NULL,
	[ISO_3166_1_3Letter_Code] [varchar](max) NULL,
	[ISO_3166_1Number] [varchar](max) NULL,
	[IANA_Country_Code_TLD] [varchar](max) NULL,
	[IsListed] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FuelTypes]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_FuelTyps] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImageSizes]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageSizes](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_ImageSizes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Makes]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Makename] [nvarchar](50) NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_Makes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MIMETypes]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIMETypes](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[MIME] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_MIMETypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Models]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MakeID] [int] NULL,
	[Modelname] [nvarchar](50) NULL,
 CONSTRAINT [PK_Models] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SaleDates]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[VehicleSaleDate] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_SaleDates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SellerCardDetails]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerCardDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FirstName] [nvarchar](250) NULL,
	[MiddleName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](50) NULL,
	[CardNumber] [nvarchar](250) NOT NULL,
	[BillingAddress] [nvarchar](max) NULL,
	[LikeToReceiveMarketingProducts] [bit] NULL,
 CONSTRAINT [PK_SellerCardDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SellerCompanyInfo]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerCompanyInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CompanyTypeID] [int] NOT NULL,
	[CompanyName] [nvarchar](250) NOT NULL,
	[Address001] [nvarchar](250) NOT NULL,
	[Address002] [nvarchar](250) NULL,
	[Address003] [nvarchar](250) NULL,
	[CityID] [int] NULL,
	[CountryID] [int] NULL,
	[PostalCode] [nvarchar](250) NULL,
	[ContactNumbers] [nvarchar](max) NOT NULL,
	[CompanyNumber] [nvarchar](250) NULL,
	[VatNumber] [nvarchar](250) NULL,
	[YearOfFoundation] [int] NULL,
	[NoOfEmployees] [int] NULL,
	[TurnOver] [decimal](18, 2) NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_CompanyInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SellerCompanyLogos]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerCompanyLogos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[ImageSizeID] [int] NULL,
	[OriginalFilename] [nvarchar](max) NOT NULL,
	[Filename] [nvarchar](max) NOT NULL,
	[FolderPath] [nvarchar](max) NOT NULL,
	[TempID] [nvarchar](max) NULL,
	[UploadedOn] [datetime] NULL,
 CONSTRAINT [PK_CompanyLogos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SellerPersonalInfo]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerPersonalInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](250) NULL,
	[ContactNo] [nvarchar](250) NULL,
	[PostalCode] [nvarchar](250) NULL,
 CONSTRAINT [PK_PersonalInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_User]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_User](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleID] [bigint] NULL,
	[UserName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_User_Role]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_User_Role](
	[RoleID] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBL_User_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransmissionTypes]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransmissionTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsRemoved] [bit] NULL,
 CONSTRAINT [PK_TransmissionTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](56) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 10/29/2015 7:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'AuctionHouse')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'User')
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Discriminator]) VALUES (N'11095d0b-8387-4565-8c3d-254ec52d88da', N'sanjoy', N'AIrS/s5bFIUVDjW9gKex1gtZz9QKcFp4hec7kLfVQhUQCuHEZcgDQZixAjbqRlhFng==', N'da109eeb-21d9-41e1-b97d-531c6cae4971', N'ApplicationUser')
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Discriminator]) VALUES (N'168f3f26-b3e1-44bd-a375-60ccd8e61243', N'sudipto', N'AFTXefhSmsESKVfW706cfL9cIfeoGpXwnEbJ6cfev9Yb/KA7qrynbatC2llDZMWjMA==', N'545ef7fb-555e-4f4b-964f-442f98a129de', N'ApplicationUser')
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Discriminator]) VALUES (N'17a610bb-3904-4d9c-b8e1-83ecaddd8d2e', N'abc', N'AGPA+67aYRYKX8qNfWs55wxHRjC2CxmNCHOJxs5rX7aGJmFD79LKHglRoyde3f5R0A==', N'a09f6933-afa7-4427-bdab-b837773408c2', N'ApplicationUser')
SET IDENTITY_INSERT [dbo].[AspNetUsersAdditionalInfo] ON 

INSERT [dbo].[AspNetUsersAdditionalInfo] ([ID], [UserKey], [CreatedOn], [CreatedFromIP], [IsRemoved], [SellerTypeID]) VALUES (74, N'30b7bdc0-3509-4f43-8a9f-d44f5b24f7c0', CAST(0x0000A42D00DE5E14 AS DateTime), N'::1', NULL, 1)
INSERT [dbo].[AspNetUsersAdditionalInfo] ([ID], [UserKey], [CreatedOn], [CreatedFromIP], [IsRemoved], [SellerTypeID]) VALUES (75, N'00e4a9af-344c-4ab2-90ab-9babd7026d4f', CAST(0x0000A42D00DEF267 AS DateTime), N'::1', NULL, 2)
INSERT [dbo].[AspNetUsersAdditionalInfo] ([ID], [UserKey], [CreatedOn], [CreatedFromIP], [IsRemoved], [SellerTypeID]) VALUES (79, N'389b21c3-da31-4563-9ae8-2f1717fc87ab', CAST(0x0000A56C00000000 AS DateTime), N'1.1.1.1', 0, 1)
SET IDENTITY_INSERT [dbo].[AspNetUsersAdditionalInfo] OFF
SET IDENTITY_INSERT [dbo].[AuctionHouse] ON 

INSERT [dbo].[AuctionHouse] ([AuctionHouseID], [UserID], [AuctionHouseName], [Logo], [WebSite], [Email], [ContactNo], [Address], [PostalCode], [Longitude], [Latitude], [About], [Buyer_Fees], [TermsCondition]) VALUES (1, NULL, N'Demo Car', N'20150619_1101.jpg', NULL, NULL, NULL, N'test address', N'654654', NULL, NULL, N'About Us', N'10000', NULL)
INSERT [dbo].[AuctionHouse] ([AuctionHouseID], [UserID], [AuctionHouseName], [Logo], [WebSite], [Email], [ContactNo], [Address], [PostalCode], [Longitude], [Latitude], [About], [Buyer_Fees], [TermsCondition]) VALUES (2, NULL, N'Demo', N'20150619_1256.jpg', NULL, NULL, NULL, N'Demo Add', N'123456', NULL, NULL, N'Description of Auction house', N'45000', NULL)
INSERT [dbo].[AuctionHouse] ([AuctionHouseID], [UserID], [AuctionHouseName], [Logo], [WebSite], [Email], [ContactNo], [Address], [PostalCode], [Longitude], [Latitude], [About], [Buyer_Fees], [TermsCondition]) VALUES (3, 86, N'demo', NULL, NULL, NULL, NULL, N'demo address-123456', N'700089', NULL, NULL, N'demo descrip', N'4500', NULL)
INSERT [dbo].[AuctionHouse] ([AuctionHouseID], [UserID], [AuctionHouseName], [Logo], [WebSite], [Email], [ContactNo], [Address], [PostalCode], [Longitude], [Latitude], [About], [Buyer_Fees], [TermsCondition]) VALUES (9, 92, N'demo house def', N'20150716_0657.jpg', NULL, NULL, NULL, N'add demo 123
', N'456789', NULL, NULL, N'descrip', N'9874', NULL)
SET IDENTITY_INSERT [dbo].[AuctionHouse] OFF
SET IDENTITY_INSERT [dbo].[BodyTypes] ON 

INSERT [dbo].[BodyTypes] ([ID], [Type], [Description], [IsRemoved]) VALUES (1, N'Hatchback', NULL, NULL)
INSERT [dbo].[BodyTypes] ([ID], [Type], [Description], [IsRemoved]) VALUES (2, N'Liftbacks', NULL, NULL)
INSERT [dbo].[BodyTypes] ([ID], [Type], [Description], [IsRemoved]) VALUES (3, N'Minivans', NULL, NULL)
SET IDENTITY_INSERT [dbo].[BodyTypes] OFF
SET IDENTITY_INSERT [dbo].[CarBuyerInfo] ON 

INSERT [dbo].[CarBuyerInfo] ([ID], [UserID], [VehicleID], [BuyDate], [BuyingPrice], [IsBrought], [IsShortlisted], [IsOfferMade], [OfferMadePrice], [ActionID]) VALUES (1, 1, 1063, CAST(0x80360B00 AS Date), CAST(3200.00 AS Decimal(18, 2)), 1, 0, 0, CAST(0.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[CarBuyerInfo] ([ID], [UserID], [VehicleID], [BuyDate], [BuyingPrice], [IsBrought], [IsShortlisted], [IsOfferMade], [OfferMadePrice], [ActionID]) VALUES (2, 1, 1064, CAST(0x83360B00 AS Date), CAST(5200.00 AS Decimal(18, 2)), 0, 0, 0, CAST(0.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[CarBuyerInfo] OFF
SET IDENTITY_INSERT [dbo].[CarSellerInfo] ON 

INSERT [dbo].[CarSellerInfo] ([ID], [UserID], [SellerTypeID], [WayOfSelling]) VALUES (1, 79, 1, 1)
INSERT [dbo].[CarSellerInfo] ([ID], [UserID], [SellerTypeID], [WayOfSelling]) VALUES (2, 79, 1, 1)
INSERT [dbo].[CarSellerInfo] ([ID], [UserID], [SellerTypeID], [WayOfSelling]) VALUES (3, 79, 1, 1)
SET IDENTITY_INSERT [dbo].[CarSellerInfo] OFF
SET IDENTITY_INSERT [dbo].[CarSellerMoreDetails] ON 

INSERT [dbo].[CarSellerMoreDetails] ([ID], [VehicleID], [CarLocation], [ContactEmailID], [ContactNumberOnAdvert], [ContactNumber], [SelectedPackageID]) VALUES (1, 32, N'kolkata', N'abc@gmail.com', N'(555) 555-5555', N'(555) 555-5555', 1)
INSERT [dbo].[CarSellerMoreDetails] ([ID], [VehicleID], [CarLocation], [ContactEmailID], [ContactNumberOnAdvert], [ContactNumber], [SelectedPackageID]) VALUES (2, 33, N'kolkata', N'abc@gmail.com', N'(555) 555-5555', N'(555) 555-5555', 1)
INSERT [dbo].[CarSellerMoreDetails] ([ID], [VehicleID], [CarLocation], [ContactEmailID], [ContactNumberOnAdvert], [ContactNumber], [SelectedPackageID]) VALUES (3, 36, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[CarSellerMoreDetails] OFF
SET IDENTITY_INSERT [dbo].[CarSellerPackages] ON 

INSERT [dbo].[CarSellerPackages] ([ID], [Package], [Description]) VALUES (1, N'Package 1 ', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. ')
INSERT [dbo].[CarSellerPackages] ([ID], [Package], [Description]) VALUES (5, N'Package 2', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. ')
INSERT [dbo].[CarSellerPackages] ([ID], [Package], [Description]) VALUES (6, N'Package 3', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. ')
SET IDENTITY_INSERT [dbo].[CarSellerPackages] OFF
SET IDENTITY_INSERT [dbo].[CarSellerTypes] ON 

INSERT [dbo].[CarSellerTypes] ([ID], [Type], [Description]) VALUES (1, N'Private Seller', NULL)
INSERT [dbo].[CarSellerTypes] ([ID], [Type], [Description]) VALUES (2, N'Trade Seller', NULL)
SET IDENTITY_INSERT [dbo].[CarSellerTypes] OFF
SET IDENTITY_INSERT [dbo].[CarSellerVehicleFuelTypes] ON 

INSERT [dbo].[CarSellerVehicleFuelTypes] ([ID], [VehicleID], [FuelTypeID]) VALUES (1, 7, 1)
INSERT [dbo].[CarSellerVehicleFuelTypes] ([ID], [VehicleID], [FuelTypeID]) VALUES (2, 12, 1)
INSERT [dbo].[CarSellerVehicleFuelTypes] ([ID], [VehicleID], [FuelTypeID]) VALUES (3, 12, 3)
SET IDENTITY_INSERT [dbo].[CarSellerVehicleFuelTypes] OFF
SET IDENTITY_INSERT [dbo].[CarSellerVehicleImages] ON 

INSERT [dbo].[CarSellerVehicleImages] ([ID], [VehicleID], [ImageSizeID], [Title], [Description], [OriginalFilename], [Filename], [Foldername], [Size], [UploadedOn], [UploadedFromIP], [UploadedByUserID], [TempID], [SectionFromImageUploaded], [PositionID]) VALUES (1, 7, NULL, NULL, NULL, N'', N'20150608_0811.jpg', N'~/Content/Assets/CarSellerImages/', 0, NULL, NULL, NULL, NULL, N'Sell', NULL)
INSERT [dbo].[CarSellerVehicleImages] ([ID], [VehicleID], [ImageSizeID], [Title], [Description], [OriginalFilename], [Filename], [Foldername], [Size], [UploadedOn], [UploadedFromIP], [UploadedByUserID], [TempID], [SectionFromImageUploaded], [PositionID]) VALUES (2, 7, NULL, NULL, NULL, N'', N'20150608_0821.jpg', N'~/Content/Assets/CarSellerImages/', 0, NULL, NULL, NULL, NULL, N'Sell', NULL)
INSERT [dbo].[CarSellerVehicleImages] ([ID], [VehicleID], [ImageSizeID], [Title], [Description], [OriginalFilename], [Filename], [Foldername], [Size], [UploadedOn], [UploadedFromIP], [UploadedByUserID], [TempID], [SectionFromImageUploaded], [PositionID]) VALUES (3, 8, NULL, NULL, NULL, N'', N'20150608_0827.jpg', N'~/Content/Assets/CarSellerImages/', 0, NULL, NULL, NULL, NULL, N'Sell', NULL)
SET IDENTITY_INSERT [dbo].[CarSellerVehicleImages] OFF
SET IDENTITY_INSERT [dbo].[CarSellerVehicleInfo] ON 

INSERT [dbo].[CarSellerVehicleInfo] ([ID], [CarSellerInfoID], [RegistrationNumber], [Title], [MakeID], [ModelID], [BodyTypeID], [Color], [MOTExpiryDate], [TransmissionTypeID], [ExactMileage], [InteriorColor], [Trim], [TAXExpiryDate], [ServiceHistory], [Description], [Price], [DateOfFirstRegistration], [AddedDate]) VALUES (1, 1044, N'123', NULL, 2, 13, 1, N'red', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A40F00000000 AS DateTime), NULL)
INSERT [dbo].[CarSellerVehicleInfo] ([ID], [CarSellerInfoID], [RegistrationNumber], [Title], [MakeID], [ModelID], [BodyTypeID], [Color], [MOTExpiryDate], [TransmissionTypeID], [ExactMileage], [InteriorColor], [Trim], [TAXExpiryDate], [ServiceHistory], [Description], [Price], [DateOfFirstRegistration], [AddedDate]) VALUES (2, 1044, N'123', NULL, 2, 13, 1, N'red', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, CAST(500.00 AS Decimal(18, 2)), CAST(0x0000A40F00000000 AS DateTime), NULL)
INSERT [dbo].[CarSellerVehicleInfo] ([ID], [CarSellerInfoID], [RegistrationNumber], [Title], [MakeID], [ModelID], [BodyTypeID], [Color], [MOTExpiryDate], [TransmissionTypeID], [ExactMileage], [InteriorColor], [Trim], [TAXExpiryDate], [ServiceHistory], [Description], [Price], [DateOfFirstRegistration], [AddedDate]) VALUES (3, 1045, N'456', NULL, 5, 17, 4, N'black', CAST(0x0000A4D800000000 AS DateTime), 1, N'600', N'blue', N'rasd', CAST(0x0000A4D800000000 AS DateTime), N'asdf', N'werty', NULL, CAST(0x0000A41500000000 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CarSellerVehicleInfo] OFF
SET IDENTITY_INSERT [dbo].[CarSellingOn] ON 

INSERT [dbo].[CarSellingOn] ([ID], [Way], [Description]) VALUES (1, N'Classified Ad', NULL)
INSERT [dbo].[CarSellingOn] ([ID], [Way], [Description]) VALUES (2, N'Live Auction', NULL)
INSERT [dbo].[CarSellingOn] ([ID], [Way], [Description]) VALUES (3, N'Timed Auction', NULL)
SET IDENTITY_INSERT [dbo].[CarSellingOn] OFF
SET IDENTITY_INSERT [dbo].[CompanyTypes] ON 

INSERT [dbo].[CompanyTypes] ([ID], [CompanyType], [IsRemoved]) VALUES (1, N'Sole Trader', 0)
INSERT [dbo].[CompanyTypes] ([ID], [CompanyType], [IsRemoved]) VALUES (2, N'Limited company', 0)
INSERT [dbo].[CompanyTypes] ([ID], [CompanyType], [IsRemoved]) VALUES (3, N'Public Company ', 0)
SET IDENTITY_INSERT [dbo].[CompanyTypes] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([ID], [CountryName], [DisplayName], [FormalName], [Type], [SubType], [Sovereignty], [Capital], [ISO_4217_Currency_Code], [ISO_4217_Currency_Name], [ITU_T_Telephone_Code], [ISO_3166_1_2Letter_Code], [ISO_3166_1_3Letter_Code], [ISO_3166_1Number], [IANA_Country_Code_TLD], [IsListed]) VALUES (1, N'Abkhazia', N'Abkhazia', N'Republic of Abkhazia', N'Proto Independent State', N'', N'', N'Sokhumi', N'RUB', N'Ruble', N'995', N'GE', N'GEO', N'268', N'.ge', 1)
INSERT [dbo].[Countries] ([ID], [CountryName], [DisplayName], [FormalName], [Type], [SubType], [Sovereignty], [Capital], [ISO_4217_Currency_Code], [ISO_4217_Currency_Name], [ITU_T_Telephone_Code], [ISO_3166_1_2Letter_Code], [ISO_3166_1_3Letter_Code], [ISO_3166_1Number], [IANA_Country_Code_TLD], [IsListed]) VALUES (2, N'Afghanistan', N'Afghanistan', N'Islamic State of Afghanistan', N'Independent State', N'', N'', N'Kabul', N'AFN', N'Afghani', N'93', N'AF', N'AFG', N'4', N'.af', 1)
INSERT [dbo].[Countries] ([ID], [CountryName], [DisplayName], [FormalName], [Type], [SubType], [Sovereignty], [Capital], [ISO_4217_Currency_Code], [ISO_4217_Currency_Name], [ITU_T_Telephone_Code], [ISO_3166_1_2Letter_Code], [ISO_3166_1_3Letter_Code], [ISO_3166_1Number], [IANA_Country_Code_TLD], [IsListed]) VALUES (3, N'Aland', N'Aland', N'', N'Proto Dependency', N'', N'Finland', N'Mariehamn', N'EUR', N'Euro', N'340', N'AX', N'ALA', N'248', N'.ax', 1)
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[FuelTypes] ON 

INSERT [dbo].[FuelTypes] ([ID], [Type], [Description]) VALUES (1, N'Petrol', NULL)
INSERT [dbo].[FuelTypes] ([ID], [Type], [Description]) VALUES (2, N'Diesel', NULL)
INSERT [dbo].[FuelTypes] ([ID], [Type], [Description]) VALUES (3, N'Bi-Fuel', NULL)
SET IDENTITY_INSERT [dbo].[FuelTypes] OFF
SET IDENTITY_INSERT [dbo].[ImageSizes] ON 

INSERT [dbo].[ImageSizes] ([ID], [Title], [Width], [Height], [IsRemoved]) VALUES (0, N'Original', -1, -1, 0)
INSERT [dbo].[ImageSizes] ([ID], [Title], [Width], [Height], [IsRemoved]) VALUES (1, N'131x143', 131, 143, 0)
INSERT [dbo].[ImageSizes] ([ID], [Title], [Width], [Height], [IsRemoved]) VALUES (2, N'180x194', 180, 194, 0)
SET IDENTITY_INSERT [dbo].[ImageSizes] OFF
SET IDENTITY_INSERT [dbo].[Makes] ON 

INSERT [dbo].[Makes] ([ID], [Makename], [IsRemoved]) VALUES (1, N'ACCURA', 0)
INSERT [dbo].[Makes] ([ID], [Makename], [IsRemoved]) VALUES (2, N'ACRUA', 0)
INSERT [dbo].[Makes] ([ID], [Makename], [IsRemoved]) VALUES (3, N'ACUR', 0)
GO
SET IDENTITY_INSERT [dbo].[Makes] OFF
SET IDENTITY_INSERT [dbo].[MIMETypes] ON 

INSERT [dbo].[MIMETypes] ([ID], [MIME], [Description]) VALUES (0, N'.pdf', N'application/pdf')
INSERT [dbo].[MIMETypes] ([ID], [MIME], [Description]) VALUES (1, N'.doc', N'application/msword')
INSERT [dbo].[MIMETypes] ([ID], [MIME], [Description]) VALUES (2, N'.docx', N'application/vnd.openxmlformats-officedocument.wordprocessingml.document')
SET IDENTITY_INSERT [dbo].[MIMETypes] OFF
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([ID], [MakeID], [Modelname]) VALUES (1, 142, N'Wagonar')
INSERT [dbo].[Models] ([ID], [MakeID], [Modelname]) VALUES (2, 142, N'Swift-Desire')
INSERT [dbo].[Models] ([ID], [MakeID], [Modelname]) VALUES (3, 154, N'NANO')
SET IDENTITY_INSERT [dbo].[Models] OFF
SET IDENTITY_INSERT [dbo].[SaleDates] ON 

INSERT [dbo].[SaleDates] ([ID], [UserID], [Title], [VehicleSaleDate], [Description]) VALUES (1, 59, N'Operating System 14', CAST(0x0000A3C000000000 AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[SaleDates] OFF
SET IDENTITY_INSERT [dbo].[SellerCompanyInfo] ON 

INSERT [dbo].[SellerCompanyInfo] ([ID], [UserID], [CompanyTypeID], [CompanyName], [Address001], [Address002], [Address003], [CityID], [CountryID], [PostalCode], [ContactNumbers], [CompanyNumber], [VatNumber], [YearOfFoundation], [NoOfEmployees], [TurnOver], [CategoryID]) VALUES (1, 84, 2, N'sdfsdfsdf', N'sdfsdfsdf', NULL, NULL, 1, 17, N'SDFSDF', N'(444) 444-4444,(444) 444-4444,', N'dfgdfgdfg', N'dfgdfg', 4444, 444444444, CAST(44444444.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[SellerCompanyInfo] OFF
SET IDENTITY_INSERT [dbo].[SellerCompanyLogos] ON 

INSERT [dbo].[SellerCompanyLogos] ([ID], [CompanyID], [ImageSizeID], [OriginalFilename], [Filename], [FolderPath], [TempID], [UploadedOn]) VALUES (1, 1, 1, N'20150512_0802.png', N'20150512_0802.png', N'~/Content/Assets/CompanyLogos', NULL, CAST(0x0000A4960159D3EF AS DateTime))
SET IDENTITY_INSERT [dbo].[SellerCompanyLogos] OFF
SET IDENTITY_INSERT [dbo].[SellerPersonalInfo] ON 

INSERT [dbo].[SellerPersonalInfo] ([ID], [UserID], [Title], [FirstName], [LastName], [Address], [Email], [ContactNo], [PostalCode]) VALUES (65, 74, N'0', N'AKhan', N'Ganar', N'1120 Lodhi complex', NULL, N'(242) 342-3423', N'PO16 7GZ')
INSERT [dbo].[SellerPersonalInfo] ([ID], [UserID], [Title], [FirstName], [LastName], [Address], [Email], [ContactNo], [PostalCode]) VALUES (66, 75, N'0', N'Sameer', N'Ganar', N'New Delhi', NULL, N'(878) 558-5588', N'PO16 7GZ')
INSERT [dbo].[SellerPersonalInfo] ([ID], [UserID], [Title], [FirstName], [LastName], [Address], [Email], [ContactNo], [PostalCode]) VALUES (67, 81, N'Mr', N'Basudeb', N'Acharjee', NULL, N'basu@gmail.com', N'(444) 444-4444', N'PO16 7GJ')
SET IDENTITY_INSERT [dbo].[SellerPersonalInfo] OFF
SET IDENTITY_INSERT [dbo].[TBL_User] ON 

INSERT [dbo].[TBL_User] ([ID], [RoleID], [UserName]) VALUES (1, 1, N'NULLdiptendu')
INSERT [dbo].[TBL_User] ([ID], [RoleID], [UserName]) VALUES (5, 2, N'piya')
INSERT [dbo].[TBL_User] ([ID], [RoleID], [UserName]) VALUES (6, 1, N'sramana')
SET IDENTITY_INSERT [dbo].[TBL_User] OFF
SET IDENTITY_INSERT [dbo].[TBL_User_Role] ON 

INSERT [dbo].[TBL_User_Role] ([RoleID], [RoleName]) VALUES (1, N'Buyer')
INSERT [dbo].[TBL_User_Role] ([RoleID], [RoleName]) VALUES (2, N'Seller')
SET IDENTITY_INSERT [dbo].[TBL_User_Role] OFF
SET IDENTITY_INSERT [dbo].[TransmissionTypes] ON 

INSERT [dbo].[TransmissionTypes] ([ID], [Type], [Description], [IsRemoved]) VALUES (1, N'Automatic', NULL, NULL)
INSERT [dbo].[TransmissionTypes] ([ID], [Type], [Description], [IsRemoved]) VALUES (2, N'Manual', NULL, NULL)
INSERT [dbo].[TransmissionTypes] ([ID], [Type], [Description], [IsRemoved]) VALUES (3, N'Semi-Auto', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TransmissionTypes] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Id]    Script Date: 10/29/2015 7:10:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[AspNetUserClaims]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/29/2015 7:10:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 10/29/2015 7:10:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/29/2015 7:10:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__UserProf__C9F28456E97E923E]    Script Date: 10/29/2015 7:10:56 PM ******/
ALTER TABLE [dbo].[UserProfile] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsersAdditionalInfo] ADD  CONSTRAINT [DF_AspNetUsersAdditionalInfo_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[CarSellerDocuments] ADD  CONSTRAINT [DF_CarSellerDocuments_MIMETypeID]  DEFAULT ((0)) FOR [MIMETypeID]
GO
ALTER TABLE [dbo].[CarSellerVehicleImages] ADD  CONSTRAINT [DF_CarSellerVehicleImages_ImageSizeID]  DEFAULT ((0)) FOR [ImageSizeID]
GO
ALTER TABLE [dbo].[CompanyCategories] ADD  CONSTRAINT [DF_CompanyCategories_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[CompanyTypes] ADD  CONSTRAINT [DF_CompanyTypes_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[Countries] ADD  CONSTRAINT [DF_Countries_IsListed]  DEFAULT ((0)) FOR [IsListed]
GO
ALTER TABLE [dbo].[ImageSizes] ADD  CONSTRAINT [DF_ImageSizes_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[Makes] ADD  CONSTRAINT [DF_Makes_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[SellerCardDetails] ADD  CONSTRAINT [DF_SellerCardDetails_LikeToReceiveMarketingProducts]  DEFAULT ((0)) FOR [LikeToReceiveMarketingProducts]
GO
ALTER TABLE [dbo].[UserTypes] ADD  CONSTRAINT [DF_UserTypes_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH NOCHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] NOCHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH NOCHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] NOCHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsersANDUserTypesMapping]  WITH NOCHECK ADD  CONSTRAINT [FK_AspNetUsersANDUserTypesMapping_AspNetUsersAdditionalInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsersAdditionalInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsersANDUserTypesMapping] NOCHECK CONSTRAINT [FK_AspNetUsersANDUserTypesMapping_AspNetUsersAdditionalInfo]
GO
ALTER TABLE [dbo].[AspNetUsersANDUserTypesMapping]  WITH NOCHECK ADD  CONSTRAINT [FK_AspNetUsersANDUserTypesMapping_UserTypes] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserTypes] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsersANDUserTypesMapping] NOCHECK CONSTRAINT [FK_AspNetUsersANDUserTypesMapping_UserTypes]
GO
ALTER TABLE [dbo].[CarBuyerInfo]  WITH CHECK ADD  CONSTRAINT [FK_CarBuyerInfo_CarBuyerInfo] FOREIGN KEY([ID])
REFERENCES [dbo].[CarBuyerInfo] ([ID])
GO
ALTER TABLE [dbo].[CarBuyerInfo] CHECK CONSTRAINT [FK_CarBuyerInfo_CarBuyerInfo]
GO
ALTER TABLE [dbo].[CarSellerDocuments]  WITH NOCHECK ADD  CONSTRAINT [FK_CarSellerDocuments_MIMETypes] FOREIGN KEY([MIMETypeID])
REFERENCES [dbo].[MIMETypes] ([ID])
ON UPDATE CASCADE
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CarSellerDocuments] NOCHECK CONSTRAINT [FK_CarSellerDocuments_MIMETypes]
GO
ALTER TABLE [dbo].[CarSellerInfo]  WITH NOCHECK ADD  CONSTRAINT [FK_CarSellerInfo_AspNetUsersAdditionalInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsersAdditionalInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarSellerInfo] NOCHECK CONSTRAINT [FK_CarSellerInfo_AspNetUsersAdditionalInfo]
GO
ALTER TABLE [dbo].[CarSellerInfo]  WITH NOCHECK ADD  CONSTRAINT [FK_CarSellerInfo_CarSellerTypes] FOREIGN KEY([SellerTypeID])
REFERENCES [dbo].[CarSellerTypes] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CarSellerInfo] NOCHECK CONSTRAINT [FK_CarSellerInfo_CarSellerTypes]
GO
ALTER TABLE [dbo].[CarSellerInfo]  WITH NOCHECK ADD  CONSTRAINT [FK_CarSellerInfo_CarSellingOn] FOREIGN KEY([WayOfSelling])
REFERENCES [dbo].[CarSellingOn] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CarSellerInfo] NOCHECK CONSTRAINT [FK_CarSellerInfo_CarSellingOn]
GO
ALTER TABLE [dbo].[CarSellerMoreDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_CarSellerMoreDetails_CarSellerPackages] FOREIGN KEY([SelectedPackageID])
REFERENCES [dbo].[CarSellerPackages] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CarSellerMoreDetails] NOCHECK CONSTRAINT [FK_CarSellerMoreDetails_CarSellerPackages]
GO
ALTER TABLE [dbo].[CarSellerVehicleFuelTypes]  WITH NOCHECK ADD  CONSTRAINT [FK_CarSellerVehicleFuelTypes_FuelTypes] FOREIGN KEY([FuelTypeID])
REFERENCES [dbo].[FuelTypes] ([ID])
GO
ALTER TABLE [dbo].[CarSellerVehicleFuelTypes] NOCHECK CONSTRAINT [FK_CarSellerVehicleFuelTypes_FuelTypes]
GO
ALTER TABLE [dbo].[CarSellerVehicleInfo]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerVehicleInfo_BodyTypes] FOREIGN KEY([BodyTypeID])
REFERENCES [dbo].[BodyTypes] ([ID])
GO
ALTER TABLE [dbo].[CarSellerVehicleInfo] CHECK CONSTRAINT [FK_CarSellerVehicleInfo_BodyTypes]
GO
ALTER TABLE [dbo].[CarSellerVehicleInfo]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerVehicleInfo_CarSellerInfo] FOREIGN KEY([CarSellerInfoID])
REFERENCES [dbo].[CarSellerInfo] ([ID])
GO
ALTER TABLE [dbo].[CarSellerVehicleInfo] CHECK CONSTRAINT [FK_CarSellerVehicleInfo_CarSellerInfo]
GO
ALTER TABLE [dbo].[CarSellerVehicleInfo]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerVehicleInfo_TransmissionTypes] FOREIGN KEY([BodyTypeID])
REFERENCES [dbo].[BodyTypes] ([ID])
GO
ALTER TABLE [dbo].[CarSellerVehicleInfo] CHECK CONSTRAINT [FK_CarSellerVehicleInfo_TransmissionTypes]
GO
ALTER TABLE [dbo].[SellerCardDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_SellerCardDetails_AspNetUsersAdditionalInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsersAdditionalInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerCardDetails] NOCHECK CONSTRAINT [FK_SellerCardDetails_AspNetUsersAdditionalInfo]
GO
ALTER TABLE [dbo].[SellerCompanyInfo]  WITH NOCHECK ADD  CONSTRAINT [FK_CompanyInfo_AspNetUsersAdditionalInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsersAdditionalInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerCompanyInfo] NOCHECK CONSTRAINT [FK_CompanyInfo_AspNetUsersAdditionalInfo]
GO
ALTER TABLE [dbo].[SellerPersonalInfo]  WITH NOCHECK ADD  CONSTRAINT [FK_PersonalInfo_AspNetUsersAdditionalInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsersAdditionalInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerPersonalInfo] NOCHECK CONSTRAINT [FK_PersonalInfo_AspNetUsersAdditionalInfo]
GO
ALTER TABLE [dbo].[TBL_User]  WITH CHECK ADD  CONSTRAINT [FK_TBL_User_TBL_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[TBL_User_Role] ([RoleID])
GO
ALTER TABLE [dbo].[TBL_User] CHECK CONSTRAINT [FK_TBL_User_TBL_User_Role]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Document ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CarSellerDocuments', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SELL, AUCTION-HOUSE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CarSellerDocuments', @level2type=N'COLUMN',@level2name=N'SectionFromDocUploaded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1. Private Seller
2. Trade Seller' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CarSellerInfo', @level2type=N'COLUMN',@level2name=N'SellerTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1. Classified Ad
2. Live Auction
3. Timed Auction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CarSellerInfo', @level2type=N'COLUMN',@level2name=N'WayOfSelling'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SELL, 
AUCTION-HOUSE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CarSellerVehicleImages', @level2type=N'COLUMN',@level2name=N'SectionFromImageUploaded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Company category ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CompanyCategories', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MIME Type ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MIMETypes', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contact Numbers = Contact Number ~ 2nd Number ~ 3rd Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SellerCompanyInfo', @level2type=N'COLUMN',@level2name=N'ContactNumbers'
GO
USE [master]
GO
