
-- =============================================
-- Author:		A Khan
-- Create date: 22 Oct 2014
-- Description:	SP to get the seller company information.
-- =============================================
CREATE PROCEDURE [dbo].[GET_SellerCompanyInfo] 
	-- Add the parameters for the stored procedure here
	@UserID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM dbo.CompanyInfo WHERE UserID = @UserID
END

GO
/****** Object:  StoredProcedure [dbo].[GET_SellerPersonalInfo]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		A Khan
-- Create date: 22 Oct 2014
-- Description:	SP to get the seller profile info.
-- =============================================
CREATE PROCEDURE [dbo].[GET_SellerPersonalInfo] 
	-- Add the parameters for the stored procedure here
	@UserID int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM dbo.SellerInfo
	WHERE ID = @UserID
END

GO
/****** Object:  StoredProcedure [dbo].[GET_SellerVehiclesInfo]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		A Khan
-- Create date: 16 Nov 2014
-- Description:	Sp to get the vehicle images info.
-- =============================================
CREATE PROCEDURE [dbo].[GET_SellerVehiclesInfo] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select * from dbo.CarSellerVehicleInfo where CarSellerInfoID 
	in(select ID from dbo.CarSellerInfo)
END

GO
/****** Object:  StoredProcedure [dbo].[GET_VehicleImageInfo]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: A Khan
-- Create date: 04 Nov 2014
-- Description:	 SP to get the vehicle image info.
-- TestQuery : Exec GET_VehicleImageInfo 21,1
-- =============================================
CREATE PROCEDURE [dbo].[GET_VehicleImageInfo]
	-- Add the parameters for the stored procedure here
	@VehicleID int,
	@ImageSizeID int = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SELECT * FROM [dbo].[CarSellerVehicleImages] WHERE VehicleID = @VehicleID And
		(@ImageSizeID = NULL Or ImageSizeID = @ImageSizeID) ORDER BY ID
END

GO
/****** Object:  StoredProcedure [dbo].[SAVE_CreateSaleDate]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		A Khan
-- Create date: 25 Nov 2014
-- Description:	SP to save the new Sale date.
-- =============================================
CREATE PROCEDURE [dbo].[SAVE_CreateSaleDate] 
	-- Add the parameters for the stored procedure here
	@UserID int,
	@Title nvarchar(max),
	@SaleDate datetime,
	@Description nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(Exists(SELECT ID FROM dbo.SaleDates WHERE UserID = @UserID and VehicleSaleDate = @SaleDate))
	BEGIN
		SELECT * FROM dbo.SaleDates WHERE UserID = @UserID and VehicleSaleDate = @SaleDate
	END 
	ELSE
	BEGIN
		DECLARE @NewID AS INT
		INSERT INTO dbo.SaleDates(UserID, Title, VehicleSaleDate, [Description])
		VALUES(@UserID, @Title, @SaleDate, @Description)
		
		SET @Newid = SCOPE_IDENTITY()
		
		SELECT * FROM dbo.SaleDates WHERE ID = @NewID
	END
END

GO
/****** Object:  StoredProcedure [dbo].[UPDATE_VehileIDIntoCarSellerVehicleImages]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		A Khan
-- Create date: 03 Nov 2014
-- Description:	SP to update the vehilce ID into Vehicle Image info.
-- =============================================
CREATE PROCEDURE [dbo].[UPDATE_VehileIDIntoCarSellerVehicleImages] 
	-- Add the parameters for the stored procedure here
	@UniqueID nvarchar(100),
	@vehicleID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    
	UPDATE dbo.CarSellerVehicleImages SET VehicleID = @vehicleID,
		TempID = NULL where TempID = @UniqueID
	UPDATE dbo.CarSellerVehicleImages SET Foldername = REPLACE(Foldername, @UniqueID, @vehicleID)
END

GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsersAdditionalInfo]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsersAdditionalInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserKey] [nvarchar](128) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedFromIP] [nvarchar](50) NOT NULL,
	[IsRemoved] [bit] NULL,
	[SellerTypeID] [int] NULL,
 CONSTRAINT [PK_AspNetUsersAdditionalInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsersANDUserTypesMapping]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsersANDUserTypesMapping](
	[ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[UserTypeID] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsersANDUserTypesMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BodyTypes]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BodyTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[IsRemoved] [bit] NULL,
 CONSTRAINT [PK_BodyTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerDocuments]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerDocuments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[OriginalFilename] [nvarchar](max) NULL,
	[Filename] [nvarchar](max) NULL,
	[Foldername] [nvarchar](max) NULL,
	[MIMETypeID] [int] NULL,
	[Size] [int] NULL,
	[UploadedOn] [datetime] NULL,
	[UploadedFromIP] [nvarchar](50) NULL,
	[UploadedByUserID] [int] NULL,
	[TempID] [nvarchar](100) NULL,
	[SectionFromDocUploaded] [nvarchar](50) NULL,
 CONSTRAINT [PK_CarSellerDocuments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerInfo]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SellerTypeID] [int] NULL,
	[WayOfSelling] [int] NULL,
 CONSTRAINT [PK_CarSellerInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerMoreDetails]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerMoreDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NULL,
	[CarLocation] [nvarchar](50) NULL,
	[ContactEmailID] [nvarchar](max) NULL,
	[ContactNumberOnAdvert] [nvarchar](50) NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[SelectedPackageID] [int] NULL,
 CONSTRAINT [PK_CarSellerMoreDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerPackages]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerPackages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Package] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Package] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerTypes]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_CarSellerTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerVehicleFuelTypes]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerVehicleFuelTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[FuelTypeID] [int] NULL,
 CONSTRAINT [PK_CarSellerVehicleFuelTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerVehicleImages]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerVehicleImages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NULL,
	[ImageSizeID] [int] NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[OriginalFilename] [nvarchar](max) NULL,
	[Filename] [nvarchar](max) NULL,
	[Foldername] [nvarchar](max) NULL,
	[Size] [int] NULL,
	[UploadedOn] [datetime] NULL,
	[UploadedFromIP] [nvarchar](50) NULL,
	[UploadedByUserID] [int] NULL,
	[TempID] [nvarchar](100) NULL,
	[SectionFromImageUploaded] [nvarchar](50) NULL,
	[PositionID] [int] NULL,
 CONSTRAINT [PK_CarSellerVehicleImages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellerVehicleInfo]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellerVehicleInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CarSellerInfoID] [int] NOT NULL,
	[RegistrationNumber] [nvarchar](50) NOT NULL,
	[MakeID] [int] NULL,
	[ModelID] [int] NULL,
	[BodyTypeID] [int] NULL,
	[Color] [nvarchar](50) NULL,
	[MOTExpiryDate] [datetime] NULL,
	[TransmissionTypeID] [int] NULL,
	[ExactMileage] [nvarchar](50) NULL,
	[InteriorColor] [nvarchar](50) NULL,
	[Trim] [nvarchar](50) NULL,
	[TAXExpiryDate] [datetime] NULL,
	[ServiceHistory] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[DateOfFirstRegistration] [datetime] NULL,
 CONSTRAINT [PK_SellerVehicleInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarSellingOn]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarSellingOn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Way] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_CarSellingOn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cities]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](250) NOT NULL,
	[CountryID] [int] NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyCategories]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](250) NOT NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_CompanyCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyTypes]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyType] [nvarchar](250) NOT NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_CompanyTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[FormalName] [varchar](max) NULL,
	[Type] [varchar](max) NULL,
	[SubType] [varchar](max) NULL,
	[Sovereignty] [varchar](max) NULL,
	[Capital] [varchar](max) NULL,
	[ISO_4217_Currency_Code] [varchar](max) NULL,
	[ISO_4217_Currency_Name] [varchar](max) NULL,
	[ITU_T_Telephone_Code] [varchar](max) NULL,
	[ISO_3166_1_2Letter_Code] [varchar](max) NULL,
	[ISO_3166_1_3Letter_Code] [varchar](max) NULL,
	[ISO_3166_1Number] [varchar](max) NULL,
	[IANA_Country_Code_TLD] [varchar](max) NULL,
	[IsListed] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FuelTypes]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_FuelTyps] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImageSizes]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageSizes](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_ImageSizes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Makes]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Makename] [nvarchar](50) NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_Makes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MIMETypes]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIMETypes](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[MIME] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_MIMETypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Models]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MakeID] [int] NULL,
	[Modelname] [nvarchar](50) NULL,
 CONSTRAINT [PK_Models] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SaleDates]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[VehicleSaleDate] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_SaleDates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SellerCardDetails]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerCardDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FirstName] [nvarchar](250) NULL,
	[MiddleName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](50) NULL,
	[CardNumber] [nvarchar](250) NOT NULL,
	[BillingAddress] [nvarchar](max) NULL,
	[LikeToReceiveMarketingProducts] [bit] NULL,
 CONSTRAINT [PK_SellerCardDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SellerCompanyInfo]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerCompanyInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CompanyTypeID] [int] NOT NULL,
	[CompanyName] [nvarchar](250) NOT NULL,
	[Address001] [nvarchar](250) NOT NULL,
	[Address002] [nvarchar](250) NULL,
	[Address003] [nvarchar](250) NULL,
	[CityID] [int] NULL,
	[CountryID] [int] NULL,
	[PostalCode] [nvarchar](250) NULL,
	[ContactNumbers] [nvarchar](max) NOT NULL,
	[CompanyNumber] [nvarchar](250) NULL,
	[VatNumber] [nvarchar](250) NULL,
	[YearOfFoundation] [int] NULL,
	[NoOfEmployees] [int] NULL,
	[TurnOver] [decimal](18, 2) NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_CompanyInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SellerCompanyLogos]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerCompanyLogos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[ImageSizeID] [int] NULL,
	[OriginalFilename] [nvarchar](max) NOT NULL,
	[Filename] [nvarchar](max) NOT NULL,
	[FolderPath] [nvarchar](max) NOT NULL,
	[TempID] [nvarchar](max) NULL,
	[UploadedOn] [datetime] NULL,
 CONSTRAINT [PK_CompanyLogos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SellerPersonalInfo]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerPersonalInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[FirstName] [nvarchar](250) NULL,
	[MiddleName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[Address001] [nvarchar](250) NULL,
	[Address002] [nvarchar](250) NULL,
	[Address003] [nvarchar](250) NULL,
	[ContactNo] [nvarchar](250) NULL,
	[PostalCode] [nvarchar](250) NULL,
 CONSTRAINT [PK_PersonalInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransmissionTypes]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransmissionTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsRemoved] [bit] NULL,
 CONSTRAINT [PK_TransmissionTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](56) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[SellerInfo]    Script Date: 4/29/2015 3:56:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SellerInfo]
AS
SELECT        dbo.AspNetUsersAdditionalInfo.ID, dbo.AspNetUsers.Id AS UserKey, dbo.AspNetUsers.UserName, dbo.AspNetUsers.Email, dbo.AspNetUsers.PasswordHash, 
                         dbo.AspNetUsers.SecurityStamp, dbo.SellerPersonalInfo.Title, dbo.SellerPersonalInfo.FirstName, dbo.SellerPersonalInfo.MiddleName, 
                         dbo.SellerPersonalInfo.LastName, dbo.SellerPersonalInfo.Address001, dbo.SellerPersonalInfo.Address002, dbo.SellerPersonalInfo.Address003, 
                         dbo.SellerPersonalInfo.ContactNo, dbo.SellerPersonalInfo.PostalCode, dbo.AspNetUsersAdditionalInfo.CreatedOn, dbo.AspNetUsersAdditionalInfo.CreatedFromIP, 
                         dbo.AspNetUsersAdditionalInfo.IsRemoved, dbo.AspNetUsersAdditionalInfo.SellerTypeID
FROM            dbo.AspNetUsers INNER JOIN
                         dbo.AspNetUsersAdditionalInfo ON dbo.AspNetUsers.Id = dbo.AspNetUsersAdditionalInfo.UserKey INNER JOIN
                         dbo.SellerPersonalInfo ON dbo.AspNetUsersAdditionalInfo.ID = dbo.SellerPersonalInfo.UserID

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'45e377d8-8deb-4567-ae04-976a94a179cc', N'Admin')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'00e4a9af-344c-4ab2-90ab-9babd7026d4f', N'Sameer@mail.com', 0, N'APtR18gmn1LPe2D4Hrkwf04oEoAk798LvCiuIMg8y5eMy4eXRTJNpBRDy6t+QgVYkA==', N'9a2ec969-44ea-4c7d-853a-7506631e282a', NULL, 0, 0, NULL, 0, 0, N'Sameer')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'30b7bdc0-3509-4f43-8a9f-d44f5b24f7c0', N'AKhan@mail.com', 0, N'AAB6X7+yJYGZAS29zCJuIi+FA5pOBg7Uk+EbyTM+yqdRaQNeodESedgcjsk1ginIAw==', N'47d7f2cf-c253-4ac6-b49e-65c131e829b8', NULL, 0, 0, NULL, 0, 0, N'AKhan')
SET IDENTITY_INSERT [dbo].[AspNetUsersAdditionalInfo] ON 

INSERT [dbo].[AspNetUsersAdditionalInfo] ([ID], [UserKey], [CreatedOn], [CreatedFromIP], [IsRemoved], [SellerTypeID]) VALUES (74, N'30b7bdc0-3509-4f43-8a9f-d44f5b24f7c0', CAST(0x0000A42D00DE5E14 AS DateTime), N'::1', NULL, 1)
INSERT [dbo].[AspNetUsersAdditionalInfo] ([ID], [UserKey], [CreatedOn], [CreatedFromIP], [IsRemoved], [SellerTypeID]) VALUES (75, N'00e4a9af-344c-4ab2-90ab-9babd7026d4f', CAST(0x0000A42D00DEF267 AS DateTime), N'::1', NULL, 2)
SET IDENTITY_INSERT [dbo].[AspNetUsersAdditionalInfo] OFF
SET IDENTITY_INSERT [dbo].[BodyTypes] ON 

INSERT [dbo].[BodyTypes] ([ID], [Type], [Description], [IsRemoved]) VALUES (1, N'Hatchback', NULL, NULL)
INSERT [dbo].[BodyTypes] ([ID], [Type], [Description], [IsRemoved]) VALUES (2, N'Liftbacks', NULL, NULL)
INSERT [dbo].[BodyTypes] ([ID], [Type], [Description], [IsRemoved]) VALUES (3, N'Minivans', NULL, NULL)
SET IDENTITY_INSERT [dbo].[BodyTypes] OFF
SET IDENTITY_INSERT [dbo].[CarSellerPackages] ON 

INSERT [dbo].[CarSellerPackages] ([ID], [Package], [Description]) VALUES (1, N'Package 1 ', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. ')
INSERT [dbo].[CarSellerPackages] ([ID], [Package], [Description]) VALUES (5, N'Package 2', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. ')
INSERT [dbo].[CarSellerPackages] ([ID], [Package], [Description]) VALUES (6, N'Package 3', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. ')
SET IDENTITY_INSERT [dbo].[CarSellerPackages] OFF
SET IDENTITY_INSERT [dbo].[CarSellerTypes] ON 

INSERT [dbo].[CarSellerTypes] ([ID], [Type], [Description]) VALUES (1, N'Private Seller', NULL)
INSERT [dbo].[CarSellerTypes] ([ID], [Type], [Description]) VALUES (2, N'Trade Seller', NULL)
SET IDENTITY_INSERT [dbo].[CarSellerTypes] OFF
SET IDENTITY_INSERT [dbo].[CarSellingOn] ON 

INSERT [dbo].[CarSellingOn] ([ID], [Way], [Description]) VALUES (1, N'Classified Ad', NULL)
INSERT [dbo].[CarSellingOn] ([ID], [Way], [Description]) VALUES (2, N'Live Auction', NULL)
INSERT [dbo].[CarSellingOn] ([ID], [Way], [Description]) VALUES (3, N'Timed Auction', NULL)
SET IDENTITY_INSERT [dbo].[CarSellingOn] OFF
SET IDENTITY_INSERT [dbo].[CompanyTypes] ON 

INSERT [dbo].[CompanyTypes] ([ID], [CompanyType], [IsRemoved]) VALUES (1, N'Sole Trader', 0)
INSERT [dbo].[CompanyTypes] ([ID], [CompanyType], [IsRemoved]) VALUES (2, N'Limited company', 0)
INSERT [dbo].[CompanyTypes] ([ID], [CompanyType], [IsRemoved]) VALUES (3, N'Public Company ', 0)
SET IDENTITY_INSERT [dbo].[CompanyTypes] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([ID], [CountryName], [DisplayName], [FormalName], [Type], [SubType], [Sovereignty], [Capital], [ISO_4217_Currency_Code], [ISO_4217_Currency_Name], [ITU_T_Telephone_Code], [ISO_3166_1_2Letter_Code], [ISO_3166_1_3Letter_Code], [ISO_3166_1Number], [IANA_Country_Code_TLD], [IsListed]) VALUES (1, N'Abkhazia', N'Abkhazia', N'Republic of Abkhazia', N'Proto Independent State', N'', N'', N'Sokhumi', N'RUB', N'Ruble', N'995', N'GE', N'GEO', N'268', N'.ge', 1)
INSERT [dbo].[Countries] ([ID], [CountryName], [DisplayName], [FormalName], [Type], [SubType], [Sovereignty], [Capital], [ISO_4217_Currency_Code], [ISO_4217_Currency_Name], [ITU_T_Telephone_Code], [ISO_3166_1_2Letter_Code], [ISO_3166_1_3Letter_Code], [ISO_3166_1Number], [IANA_Country_Code_TLD], [IsListed]) VALUES (2, N'Afghanistan', N'Afghanistan', N'Islamic State of Afghanistan', N'Independent State', N'', N'', N'Kabul', N'AFN', N'Afghani', N'93', N'AF', N'AFG', N'4', N'.af', 1)
INSERT [dbo].[Countries] ([ID], [CountryName], [DisplayName], [FormalName], [Type], [SubType], [Sovereignty], [Capital], [ISO_4217_Currency_Code], [ISO_4217_Currency_Name], [ITU_T_Telephone_Code], [ISO_3166_1_2Letter_Code], [ISO_3166_1_3Letter_Code], [ISO_3166_1Number], [IANA_Country_Code_TLD], [IsListed]) VALUES (3, N'Aland', N'Aland', N'', N'Proto Dependency', N'', N'Finland', N'Mariehamn', N'EUR', N'Euro', N'340', N'AX', N'ALA', N'248', N'.ax', 1)
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[FuelTypes] ON 

INSERT [dbo].[FuelTypes] ([ID], [Type], [Description]) VALUES (1, N'Petrol', NULL)
INSERT [dbo].[FuelTypes] ([ID], [Type], [Description]) VALUES (2, N'Diesel', NULL)
INSERT [dbo].[FuelTypes] ([ID], [Type], [Description]) VALUES (3, N'Bi-Fuel', NULL)
SET IDENTITY_INSERT [dbo].[FuelTypes] OFF
SET IDENTITY_INSERT [dbo].[ImageSizes] ON 

INSERT [dbo].[ImageSizes] ([ID], [Title], [Width], [Height], [IsRemoved]) VALUES (0, N'Original', -1, -1, 0)
INSERT [dbo].[ImageSizes] ([ID], [Title], [Width], [Height], [IsRemoved]) VALUES (1, N'131x143', 131, 143, 0)
INSERT [dbo].[ImageSizes] ([ID], [Title], [Width], [Height], [IsRemoved]) VALUES (2, N'180x194', 180, 194, 0)
SET IDENTITY_INSERT [dbo].[ImageSizes] OFF
SET IDENTITY_INSERT [dbo].[Makes] ON 

INSERT [dbo].[Makes] ([ID], [Makename], [IsRemoved]) VALUES (1, N'ACCURA', 0)
INSERT [dbo].[Makes] ([ID], [Makename], [IsRemoved]) VALUES (2, N'ACRUA', 0)
INSERT [dbo].[Makes] ([ID], [Makename], [IsRemoved]) VALUES (3, N'ACUR', 0)
GO
SET IDENTITY_INSERT [dbo].[Makes] OFF
SET IDENTITY_INSERT [dbo].[MIMETypes] ON 

INSERT [dbo].[MIMETypes] ([ID], [MIME], [Description]) VALUES (0, N'.pdf', N'application/pdf')
INSERT [dbo].[MIMETypes] ([ID], [MIME], [Description]) VALUES (1, N'.doc', N'application/msword')
INSERT [dbo].[MIMETypes] ([ID], [MIME], [Description]) VALUES (2, N'.docx', N'application/vnd.openxmlformats-officedocument.wordprocessingml.document')
SET IDENTITY_INSERT [dbo].[MIMETypes] OFF
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([ID], [MakeID], [Modelname]) VALUES (1, 142, N'Wagonar')
INSERT [dbo].[Models] ([ID], [MakeID], [Modelname]) VALUES (2, 142, N'Swift-Desire')
INSERT [dbo].[Models] ([ID], [MakeID], [Modelname]) VALUES (3, 154, N'NANO')
SET IDENTITY_INSERT [dbo].[Models] OFF
SET IDENTITY_INSERT [dbo].[SaleDates] ON 

INSERT [dbo].[SaleDates] ([ID], [UserID], [Title], [VehicleSaleDate], [Description]) VALUES (1, 59, N'Operating System 14', CAST(0x0000A3C000000000 AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[SaleDates] OFF
SET IDENTITY_INSERT [dbo].[SellerCompanyInfo] ON 

INSERT [dbo].[SellerCompanyInfo] ([ID], [UserID], [CompanyTypeID], [CompanyName], [Address001], [Address002], [Address003], [CityID], [CountryID], [PostalCode], [ContactNumbers], [CompanyNumber], [VatNumber], [YearOfFoundation], [NoOfEmployees], [TurnOver], [CategoryID]) VALUES (65, 75, 0, N'Antaaru Shop', N'New Delhi', NULL, NULL, NULL, 112, N'PO16 7GZ', N'(234) 234-2423~(465) 464-5645+(456) 546-4564', N'23434', N'234234', 2015, 10, CAST(15225855.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[SellerCompanyInfo] OFF
SET IDENTITY_INSERT [dbo].[SellerPersonalInfo] ON 

INSERT [dbo].[SellerPersonalInfo] ([ID], [UserID], [Title], [FirstName], [MiddleName], [LastName], [Address001], [Address002], [Address003], [ContactNo], [PostalCode]) VALUES (65, 74, N'0', N'AKhan', NULL, N'Ganar', N'1120 Lodhi complex', NULL, NULL, N'(242) 342-3423', N'PO16 7GZ')
INSERT [dbo].[SellerPersonalInfo] ([ID], [UserID], [Title], [FirstName], [MiddleName], [LastName], [Address001], [Address002], [Address003], [ContactNo], [PostalCode]) VALUES (66, 75, N'0', N'Sameer', NULL, N'Ganar', N'New Delhi', NULL, NULL, N'(878) 558-5588', N'PO16 7GZ')
SET IDENTITY_INSERT [dbo].[SellerPersonalInfo] OFF
SET IDENTITY_INSERT [dbo].[TransmissionTypes] ON 

INSERT [dbo].[TransmissionTypes] ([ID], [Type], [Description], [IsRemoved]) VALUES (1, N'Automatic', NULL, NULL)
INSERT [dbo].[TransmissionTypes] ([ID], [Type], [Description], [IsRemoved]) VALUES (2, N'Manual', NULL, NULL)
INSERT [dbo].[TransmissionTypes] ([ID], [Type], [Description], [IsRemoved]) VALUES (3, N'Semi-Auto', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TransmissionTypes] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__UserProf__C9F284564662F446]    Script Date: 4/29/2015 3:56:32 PM ******/
ALTER TABLE [dbo].[UserProfile] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsersAdditionalInfo] ADD  CONSTRAINT [DF_AspNetUsersAdditionalInfo_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[CarSellerDocuments] ADD  CONSTRAINT [DF_CarSellerDocuments_MIMETypeID]  DEFAULT ((0)) FOR [MIMETypeID]
GO
ALTER TABLE [dbo].[CarSellerVehicleImages] ADD  CONSTRAINT [DF_CarSellerVehicleImages_ImageSizeID]  DEFAULT ((0)) FOR [ImageSizeID]
GO
ALTER TABLE [dbo].[CompanyCategories] ADD  CONSTRAINT [DF_CompanyCategories_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[CompanyTypes] ADD  CONSTRAINT [DF_CompanyTypes_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[Countries] ADD  CONSTRAINT [DF_Countries_IsListed]  DEFAULT ((0)) FOR [IsListed]
GO
ALTER TABLE [dbo].[ImageSizes] ADD  CONSTRAINT [DF_ImageSizes_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[Makes] ADD  CONSTRAINT [DF_Makes_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[SellerCardDetails] ADD  CONSTRAINT [DF_SellerCardDetails_LikeToReceiveMarketingProducts]  DEFAULT ((0)) FOR [LikeToReceiveMarketingProducts]
GO
ALTER TABLE [dbo].[UserTypes] ADD  CONSTRAINT [DF_UserTypes_IsRemoved]  DEFAULT ((0)) FOR [IsRemoved]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsersAdditionalInfo]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsersAdditionalInfo_AspNetUsers] FOREIGN KEY([UserKey])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsersAdditionalInfo] CHECK CONSTRAINT [FK_AspNetUsersAdditionalInfo_AspNetUsers]
GO
ALTER TABLE [dbo].[AspNetUsersANDUserTypesMapping]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsersANDUserTypesMapping_AspNetUsersAdditionalInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsersAdditionalInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsersANDUserTypesMapping] CHECK CONSTRAINT [FK_AspNetUsersANDUserTypesMapping_AspNetUsersAdditionalInfo]
GO
ALTER TABLE [dbo].[AspNetUsersANDUserTypesMapping]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsersANDUserTypesMapping_UserTypes] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserTypes] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsersANDUserTypesMapping] CHECK CONSTRAINT [FK_AspNetUsersANDUserTypesMapping_UserTypes]
GO
ALTER TABLE [dbo].[CarSellerDocuments]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerDocuments_MIMETypes] FOREIGN KEY([MIMETypeID])
REFERENCES [dbo].[MIMETypes] ([ID])
ON UPDATE CASCADE
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[CarSellerDocuments] CHECK CONSTRAINT [FK_CarSellerDocuments_MIMETypes]
GO
ALTER TABLE [dbo].[CarSellerInfo]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerInfo_AspNetUsersAdditionalInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsersAdditionalInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarSellerInfo] CHECK CONSTRAINT [FK_CarSellerInfo_AspNetUsersAdditionalInfo]
GO
ALTER TABLE [dbo].[CarSellerInfo]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerInfo_CarSellerTypes] FOREIGN KEY([SellerTypeID])
REFERENCES [dbo].[CarSellerTypes] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CarSellerInfo] CHECK CONSTRAINT [FK_CarSellerInfo_CarSellerTypes]
GO
ALTER TABLE [dbo].[CarSellerInfo]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerInfo_CarSellingOn] FOREIGN KEY([WayOfSelling])
REFERENCES [dbo].[CarSellingOn] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CarSellerInfo] CHECK CONSTRAINT [FK_CarSellerInfo_CarSellingOn]
GO
ALTER TABLE [dbo].[CarSellerMoreDetails]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerMoreDetails_CarSellerPackages] FOREIGN KEY([SelectedPackageID])
REFERENCES [dbo].[CarSellerPackages] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CarSellerMoreDetails] CHECK CONSTRAINT [FK_CarSellerMoreDetails_CarSellerPackages]
GO
ALTER TABLE [dbo].[CarSellerMoreDetails]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerMoreDetails_CarSellerVehicleInfo] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[CarSellerVehicleInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarSellerMoreDetails] CHECK CONSTRAINT [FK_CarSellerMoreDetails_CarSellerVehicleInfo]
GO
ALTER TABLE [dbo].[CarSellerVehicleFuelTypes]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerVehicleFuelTypes_FuelTypes] FOREIGN KEY([FuelTypeID])
REFERENCES [dbo].[FuelTypes] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CarSellerVehicleFuelTypes] CHECK CONSTRAINT [FK_CarSellerVehicleFuelTypes_FuelTypes]
GO
ALTER TABLE [dbo].[CarSellerVehicleInfo]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerVehicleInfo_BodyTypes] FOREIGN KEY([BodyTypeID])
REFERENCES [dbo].[BodyTypes] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CarSellerVehicleInfo] CHECK CONSTRAINT [FK_CarSellerVehicleInfo_BodyTypes]
GO
ALTER TABLE [dbo].[CarSellerVehicleInfo]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerVehicleInfo_CarSellerInfo] FOREIGN KEY([CarSellerInfoID])
REFERENCES [dbo].[CarSellerInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarSellerVehicleInfo] CHECK CONSTRAINT [FK_CarSellerVehicleInfo_CarSellerInfo]
GO
ALTER TABLE [dbo].[CarSellerVehicleInfo]  WITH CHECK ADD  CONSTRAINT [FK_CarSellerVehicleInfo_TransmissionTypes] FOREIGN KEY([TransmissionTypeID])
REFERENCES [dbo].[TransmissionTypes] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CarSellerVehicleInfo] CHECK CONSTRAINT [FK_CarSellerVehicleInfo_TransmissionTypes]
GO
ALTER TABLE [dbo].[SellerCardDetails]  WITH CHECK ADD  CONSTRAINT [FK_SellerCardDetails_AspNetUsersAdditionalInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsersAdditionalInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerCardDetails] CHECK CONSTRAINT [FK_SellerCardDetails_AspNetUsersAdditionalInfo]
GO
ALTER TABLE [dbo].[SellerCompanyInfo]  WITH CHECK ADD  CONSTRAINT [FK_CompanyInfo_AspNetUsersAdditionalInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsersAdditionalInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerCompanyInfo] CHECK CONSTRAINT [FK_CompanyInfo_AspNetUsersAdditionalInfo]
GO
ALTER TABLE [dbo].[SellerPersonalInfo]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInfo_AspNetUsersAdditionalInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsersAdditionalInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerPersonalInfo] CHECK CONSTRAINT [FK_PersonalInfo_AspNetUsersAdditionalInfo]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Document ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CarSellerDocuments', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SELL, AUCTION-HOUSE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CarSellerDocuments', @level2type=N'COLUMN',@level2name=N'SectionFromDocUploaded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1. Private Seller
2. Trade Seller' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CarSellerInfo', @level2type=N'COLUMN',@level2name=N'SellerTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1. Classified Ad
2. Live Auction
3. Timed Auction' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CarSellerInfo', @level2type=N'COLUMN',@level2name=N'WayOfSelling'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SELL, 
AUCTION-HOUSE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CarSellerVehicleImages', @level2type=N'COLUMN',@level2name=N'SectionFromImageUploaded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Company category ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CompanyCategories', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MIME Type ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MIMETypes', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contact Numbers = Contact Number ~ 2nd Number ~ 3rd Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SellerCompanyInfo', @level2type=N'COLUMN',@level2name=N'ContactNumbers'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "AspNetUsers"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 231
               Right = 243
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "AspNetUsersAdditionalInfo"
            Begin Extent = 
               Top = 6
               Left = 281
               Bottom = 199
               Right = 443
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PersonalInfo"
            Begin Extent = 
               Top = 6
               Left = 481
               Bottom = 220
               Right = 641
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 21
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or =' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SellerInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SellerInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SellerInfo'
GO

