@{
    ViewBag.Title = "_AuctionHouseVehicleMenu";
}

<div class="row auction_house">
    <ul class="nav nav-pills nav-justified">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sales <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/AuctionHouse/PreviousSales">Previous sales</a></li>
                <li> <a href="/AuctionHouse/AuctionHouseSales">Upcoming sales</a></li>
                <li><a href="/AuctionHouseSales/Index">Sales Data</a></li>
                <li><a href="javascript:void(0);">Timed Auction</a></li>
            </ul>
        </li>
        <li><a href="/AuctionHouse/AuctionHouseDashboard">Dashboard</a></li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Buy it now <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0);">Classified Ads</a></li>
                <li> <a href="/AuctionHouseAddEditVehicle/Index">Add Vehicle</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Enter Sales Room <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/AuctionHouse/EnterSalesRoom">GO LIVE!</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/AuctionHouse/HouseInfo">House Info</a></li>
                <li> <a href="javascript:void(0);">VIP</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Message <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0);">Inbox</a></li>
                <li> <a href="#">Live Chat</a></li>
            </ul>
        </li>
    </ul>




</div>


